.btn1   {
    background-color:rgb(170, 170, 170);
    border: black;
    color:  black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
    border: 1px solid black;
}

.btn2 {
    background-color: rgb(189, 57, 9);
    background: linear-gradient(to bottom rgb(255, 136, 0));
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn3 {
    background-color: rgb(168, 168, 168);
    background-image: url(img/logo-tiktok.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: 40px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: ;
    padding: 15px;
    text-decoration: none;
    text-align: right;
}

.btn1:hover {
    background-color: black;
    transition: background 1s, width 1s;
    border: black;
    color: white;
}

.btn2:hover {
    background-color: rgb(231, 92, 41);
    transition: background 0.5s, width 0.5s;
}

.btn3:hover {
    background-image: url(img/logo-tiktok.png);
    background-size: 45px;
    text-decoration: underline;
    transition: background 0.5s, width 0.5s;
}